
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    /*primary*/
--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);

/*neutral*/
--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue1: hsl(211, 68%, 94%);
--Light-grayish-blue2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    display: block;
}

img{
    max-width: 100%;
}

body {
    min-height: 100vh;
    max-width: 1440px;
    min-width: 478px;
    color: var(--text-clr);
    background: var(--main-bg);
    font-size: 13px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  main {
    max-width: 778px;
    min-width: 400px;
    background: var(--card-bg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin: 1.7rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 0;
    align-self: center;
  }
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    font-size: 13px;
}

.header span{
    padding: 3px 20px 5px 20px;
    border-radius: 15px;
    background-color: hsl(228, 45%, 44%);
    color: hsl(0, 0%, 100%);
}

.header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header p{
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 500;
}
  #active{
    background-color: hsl(211, 68%, 94%);
    border-radius: 15px;
  }

  .profile{
    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    display: flex;
    padding: 1rem;
    max-width: 100%;
    font-size: 13px;
  }
.profile, #active{
    gap: 1rem;
}

.profile h2{
    margin-bottom: 0.5rem;
}
  .profile img{
    width: 50px;
    height: 50px;
  }

  .profile span {
    font-size: 16px;
    color: hsl(224, 21%, 14%);
  }

  .profile h2{
    font-size: 14px;
    color: hsl(219, 14%, 63%)
  }
.comment{
    max-width:100%;
    border: solid 1px hsl(205, 33%, 90%);
    border-radius: 10px;
    min-height: 100px;
    margin-top: 1rem;
    
    
}

.comment p{
    margin: 1rem;
    font-weight: 500;
    color: hsl(219, 12%, 42%);
    padding-right: 2.5rem;
    font-size: 16px;
}

 .chess{
    float: right;
    width: 60px;
    align-self: flex-end;
    cursor: pointer;
}
#chess{
    cursor: pointer;
}

.helper{
    display: flex;
    flex-direction: column;
}

.helper2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#comment{
    justify-content: space-between;
}

 .red{
    color: hsl(1, 90%, 64%);
    background-color: hsl(1, 90%, 64%);
   padding: 4px;
   border:hidden;
   border-radius: 5rem;
   display: inline-flex;
}

 #first,  #club{
    color: hsl(219, 12%, 42%);
    transition: ease-in-out;
    cursor: pointer;
}
span, .header p, .comment{
    transition: ease-in-out;
    cursor: pointer;
}
.header p:hover{
    color: hsl(219, 85%, 26%);
}
span:hover, #club:hover, #first:hover{
    color: hsl(219, 85%, 26%);
}

.comment:hover{
    background-color: hsl(211, 68%, 94%);
}


@media (min-width:475px){
    main {
        max-width: 778px;
        background: var(--card-bg);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 1.7rem;
        border-radius: 0.5rem;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
        z-index: 0;
        align-self: center;
      }
}
